{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [],
  "sourceMaps": "inline" // Generar mapas de origen en línea
}