<html lang="">
<head>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;
        }
        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
    <title></title>
</head>
<body>

<div class="container">
    <img class="main-image" src="https://dgczndateeqdzgnntseb.supabase.co/storage/v1/object/public/publicBucket/logo-.comunidadDeTrabajo.jpg?t=2023-11-25T04%3A37%3A21.426Z"
         height="200px"   alt="Imagen principal">
    <h2> {{nombreEmpresa}} Se registro</h2>

</div>
<div><div dir="ltr" class="gmail_signature" data-smartmail="gmail_signature"><div dir="ltr"><div style="text-align:center"><div style="color:rgb(34,34,34);text-align:start">--</div><div dir="ltr" style="color:rgb(34,34,34);text-align:start"><div dir="ltr"><div><b style="font-family:verdana,sans-serif;color:rgb(102,102,102)">Lic. P. Carolina Cardoso</b></div><div><b style="font-family:verdana,sans-serif;color:rgb(102,102,102)">Terapista Ocupacional</b></div><div><b style="font-family:verdana,sans-serif;color:rgb(102,102,102)"><br></b></div><div><b style="font-family:verdana,sans-serif;color:rgb(102,102,102)">Empleabilidad</b><br></div><div><b style="font-family:verdana,sans-serif;color:rgb(102,102,102)">Centro Universitario PyME (CUP UNAHUR)</b><br></div><div><font color="#666666"><font size="1" face="verdana, sans-serif"><i>Dirección de Vinculación Tecnológica - Secretaría de Investigación</i></font></font></div><div><i style="font-family:verdana,sans-serif;font-size:x-small;color:rgb(102,102,102)"><img src="https://ci6.googleusercontent.com/proxy/jnK5zhTe8BtldCdt-KAyfH4AEqNbhCCvU7tTdcrlACsZ4tINVMw-si0CUHsPH4PEL3bWZitj3dR8Gq1qwzogWDVr3R6FqAYKBeM6b2rrL1q8VTiVQuo_ES2RYZHV0OU9uNS8abg0CvNbIG5MqdLbojp30n-um4ryI_LIHmx-wrJekR5UnX_IoUIAc4cxLPuwGaOv-BYg5z170jD4Zw=s0-d-e1-ft#https://docs.google.com/uc?export=download&amp;id=1u7AD8VmcXOvBljdiP8OxY8_gwVBn8KFc&amp;revid=0B9bzl3KomutCOXFld2hYWldIbWh6aEgvOGhoUHJSeGRuZEIwPQ" width="163" height="52" style="margin-right:0px" class="CToWUd" data-bit="iit"></i><br></div><div><font color="#666666"><font size="1" face="verdana, sans-serif"><i><font face="verdana, sans-serif"><b><img src="https://ci6.googleusercontent.com/proxy/kvExUkzu0u7eSxaFCKL73lCDftUKTXCJP5lWZ4GgVYdpM0Yy_OWMK0BbE1psiQ1XQYFtIci79JQcqW2rXX7hsseVAWT4C2lv2zRyBB09gleuYRREjY9L4a-9AjFxTB6fr8Q6kFc34ubrEVVxWuL1wXNl076BsDVZthwZ_9e0-rga7TkASlN5ewTa44OLP9JUfhQ5lrF33gKN4NSAWw=s0-d-e1-ft#https://docs.google.com/uc?export=download&amp;id=1GloyAEGo7zcVVnqqwiOb7miRfh9BwcIJ&amp;revid=0B9bzl3KomutCTmtWaDZySFdIbW03Y0pVcFhaREtFTm8zR1N3PQ" width="20" height="32" style="margin-right:0px" class="CToWUd" data-bit="iit">&nbsp;2066 -1958</b></font><font face="verdana, sans-serif">&nbsp; Int. 828</font></i></font></font></div><div><p style="margin:0px;font-stretch:normal;line-height:normal;color:rgb(103,103,103)"><span style="font-family:verdana,sans-serif;font-size:x-small">Tte Manuel Origone 151, Edificio A.&nbsp;</span></p><p style="margin:0px;font-stretch:normal;line-height:normal;color:rgb(103,103,103)"><span style="font-family:verdana,sans-serif;font-size:x-small">Villa Tesei,&nbsp;</span><span style="font-family:verdana,sans-serif;font-size:x-small">Hurlingham, Buenos Aires</span></p></div></div></div></div></div></div></div>

</body>
</html>