<html>
    <head>
        <style>

        </style>
    </head>
    <body>
        <p>Hola, bienvenid@ a su nueva cuenta</p>
        <p>Gracias por ser parte de Comunidad de Trabajo UNAHUR. Suerte</p>
        <p>¿Necesitas ayuda? Contacta con nuestro equipo de soporte técnico via twitter
            <a href="https://twitter.com/unahurlingham">Aqui</a>.</p>
        <p>Puedes ingresar a la <a href="https://unahur.edu.ar/consultas-frecuentes/" target="_blank">página de consultas</a> para obtener más información.</p>
        <p>Atte: Comunidad de trabajo UNAHUR</p>
    </body>
</html>